body{
    background-color: black;
}
section{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.About{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px auto;
}
h1{
    font-size: 50px;
}
.aboutmepara{
    display: flex;
    flex-direction: column;
}
@media (max-width:600px) {
    h1{
        font-size: 30px;
    }
    
}
