body{
    background-color: black;
}
.Skills{
    width: 100%;
    height: auto;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
}
.Skills img{
    width: 100px;
    height: 100px;
    margin: 30px auto;
}
.Top-section{
    display: flex;
    flex-direction: row;
    margin: 30px auto;
    justify-content: space-between;
    width: 80%;
    height: auto;
}
@media (max-width:600px){

    .Skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto auto;
    }
    .Top-section img{
        width: 200px;
        height: 200px;
    }

}